# Spring Boot .env.example file

# Aiven DB connection
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Mongo DB connection
DB_URL_MONGO=
DB_DATABASE_MONGO=

# Default admin account
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

# Default user account
USER_EMAIL=
USER_PASSWORD=
USER_NAME=

# Jwt secret
JWT_SECRET=

# MailGun service
MAILGUN_LOGIN=
MAILGUN_PASSWORD=